<meta name="description" content="{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />

{{ if .Site.Params.twitter.enable }}
{{ partial "twitter.html" . }}
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ .Site.Params.twitter.username }}" />
<meta name="twitter:creator" content="{{ .Site.Params.twitter.username }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{- .File.Dir -}}{{ .Params.thumbnail }}" />
{{ end }}
<!-- OG data -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}{{- .File.Dir -}}{{ .Params.thumbnail }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="article">
<meta property="og:article:author:first_name"      content="James">
<meta property="og:article:author:last_name"      content="Grimwood">
<meta property="og:article:author:username"      content="ncot_tech">
{{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
{{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

{{ with .Site.Params.uphold }}
<meta name="monetization" content="$ilp.uphold.com/{{ . }}">
{{ end }}

{{ with .Site.Params.youtube }}
<script src="https://apis.google.com/js/platform.js"></script>
{{ end }}
<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "WebSite", 
  "url": "{{ .Permalink }}", 
  "name": "{{ .Site.Title }}",
   "author": {
      "@type": "Person",
      "name": "James Grimwood"
    },
  "description": "Programming, electronics and making",
}
</script>
{{ end }}

{{ if .IsPage }}
<script type="application/ld+json">
{ 
    "@context": "http://schema.org", 
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",  
    "url": "{{ .Permalink }}",
    "datePublished": "{{ time .Date }}",
    "description": "{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Author.name }}"
    }
 }
</script>
{{ end }}

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000",
      "text": "#33ff00"
    },
    "button": {
      "background": "#0f0"
    }
  },
  "position": "top",
  "content": {
    "message": "We use cookies to analyse site usage, enable social media sharing, and to display personalised adverts. This site does not store or $
  }
})});
</script>

{{ if .Site.Params.google.analytics.enable }}
  {{ partial "analytics.html" . }}
{{ end }}

{{ if .Site.Params.google.adsense.enable }}
  <script data-ad-client="{{ .Site.Params.google.adsense.publisherID }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{ end }}