<div class="col-md-4 mt20">
        <div class="post-img">
           {{ if .Params.thumbnail }}
            <img width="600" src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="{{ .Params.title }}">
            {{ else }}
            <img width="600" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="NCoT">
            {{ end }}
        </div>
        <div class="mt10">
            {{ partial "sharethis.html" . }}
        </div>
        <div class="mt10 recent">
                {{ $related := .Site.Pages.Related . | first 5 }}
		{{ with $related }}
                <h2>Related articles</h2>        
                 <ul>
                    {{ range . }}
    
                          <li>
                          <p><a href="{{ .Permalink }}">{{ .Title }}
                                <img src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="{{ .Title }}">
                          </a><small>&nbsp;&nbsp;{{ .Date.Format "January 2, 2006" }}</small></p>
                          </li>
    
                    {{ end }}
                  </ul>
                {{ end }}
            </div>
	
        <br>

</div>
